html, body{
  background-color:#333333;
  height: 100%;
  padding:0px;
  margin:0px;
}
#content {
  font-family:"gill sans",sans-serif;
  height:100%;
  background-color:#FFFFFF;
}
.title, #nav {
  font-family:"palatino", serif;
}
