html, body{
  background-color:#FFF;
  height: 100%;
  padding:0px;
  margin:0px;
  width: 100%;
  font-family: "Verdana", sans-serif;
}
#container {
  /*background-color: #FFFFFF;*/
  height:100%;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
#column {
  /* if you want a background color, you can put it in both here adn container to get it to work correctly. */
}
#navigation {
  float: left;
  width: 50%;
  height: 100%;
}
#navbar {
  width:100px;
  float:right;
  background-color:
}
.navtitle {
  margin-left:-55px;
}
.navbutton {
}
#content {
  float: right;
  margin-top: 50px;
  width: 50%;
}
#header {

}
#footer {
  clear: both;
}
