<div id="container">
  <div id="column">
    <div id="navigation">
      <div id="navbar">
        <%= image_tag 'davidbird.png' %> </br>
        <div class="navbutton" ><%= image_tag 'bio.png' %> </br></div>
        <div class="navbutton" ><%= image_tag 'work.png' %> </br></div>
        <div class="navbutton" ><%= image_tag 'contact.png' %> </br></div>
      </div>
    </div>
    <div id="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vulputate neque faucibus erat viverra semper. Morbi velit nisl, elementum at pellentesque quis, dictum convallis felis. Fusce nibh augue, iaculis eget hendrerit a, rhoncus in metus. Vivamus feugiat egestas mauris eget condimentum. Sed eu lectus enim, et ornare odio. Nam id molestie libero. Fusce non augue nibh. Quisque a metus massa. Proin quis nibh nunc, quis molestie augue. Morbi pretium lectus et lectus blandit tempus. Duis laoreet convallis arcu, quis bibendum nunc dapibus faucibus.

      Vivamus adipiscing pharetra turpis, eu venenatis ligula mattis vitae. Ut sit amet tortor vitae neque vehicula commodo eu eget dolor. Sed consequat vulputate venenatis. Cras nec ultricies ante. Donec risus diam, suscipit sed pulvinar ac, luctus sit amet justo. Pellentesque pulvinar, mi id vestibulum auctor, felis nisi malesuada diam, sit amet lacinia nisi ante non sem. In tellus nibh, eleifend non commodo quis, egestas a lectus. Sed varius, ligula in accumsan blandit, tortor nibh porttitor nisl, a sodales nisl erat quis turpis. Duis semper feugiat magna, sed condimentum mauris fringilla eget. In ut leo lacus. Morbi quis turpis vel metus fermentum aliquam. Praesent at dignissim massa. In sollicitudin bibendum velit quis congue. Duis ipsum enim, vulputate vel vehicula eget, condimentum in turpis. Sed aliquet neque in dui consequat vel interdum diam hendrerit.

      Quisque et augue eu magna eleifend tristique. Integer congue, purus eget tincidunt sodales, nisi massa sodales justo, ac dignissim dolor libero vel erat. Duis in nunc sit amet risus feugiat dapibus. Vestibulum a ligula erat, non porttitor risus. Praesent eget urna a eros luctus eleifend sit amet non turpis. Morbi bibendum consectetur magna nec porttitor. Vestibulum vulputate rhoncus vehicula. Aliquam lacus lorem, ornare vel semper id, volutpat non nunc. Sed euismod lacinia libero vitae imperdiet. Phasellus placerat velit sit amet elit facilisis id tincidunt lacus ullamcorper. Aliquam erat volutpat. Curabitur auctor enim vel orci interdum placerat. Maecenas lectus metus, tincidunt rutrum consequat id, suscipit vitae dui.

      Fusce sed lacus augue. Ut eu metus justo, id porttitor mi. Pellentesque non porta ligula. Nunc posuere, magna non vulputate commodo, ligula turpis vestibulum massa, consequat egestas enim odio eu mauris. Suspendisse potenti. Pellentesque massa nisl, vestibulum consequat congue vitae, mattis nec urna. Morbi sed fermentum ipsum. Nunc diam libero, pulvinar consequat molestie eu, imperdiet non nibh. Praesent faucibus massa elementum lacus vulputate ultrices. Donec consequat nisl id quam eleifend id consequat turpis vulputate. In accumsan, mi mollis interdum lobortis, turpis massa varius metus, eu sollicitudin ipsum sapien ut magna. Vivamus a nulla at nisl egestas euismod. Integer iaculis turpis eu tortor condimentum dictum.

      Nulla at erat et lacus hendrerit sollicitudin. Aenean pharetra orci non augue gravida ac venenatis erat posuere. Suspendisse at sem enim, ac vehicula orci. Donec quis gravida ligula. Maecenas quis varius lectus. Aenean velit eros, egestas ut gravida laoreet, dignissim eu mi. Aliquam sem turpis, commodo vitae pharetra quis, varius vel diam. Fusce dictum eros in ipsum placerat non lobortis enim volutpat. Suspendisse tristique magna sit amet nisl fermentum sed congue augue blandit. Donec semper faucibus nulla, sed aliquet odio luctus volutpat. Praesent placerat, tellus sit amet semper imperdiet, enim lacus bibendum erat, ac ultricies mi arcu pharetra odio. Duis nec est ut enim hendrerit gravida.
    </div>
    <div id="footer">
    </div>
  </div>
</div>
