<h1>Site#bio</h1>
<canvas width="200" height="200" data-processing-sources="processing/index/index.java processing/index/Point.java" style="border:1px solid #333;"></canvas>
<p>Find me in app/views/site/bio.html.erb</p>
