<div class="container_12" id="content">
  <div class="grid_3"><%= image_tag 'david_bird.png' %></div>
  <div class="grid_8"><canvas style="width:620px; height:220px;" data-processing-sources="processing/sine.java"></canvas></div>
  <div class="clear"></div>
  <div class="grid_12" style="height:20px;">&nbsp;</div>
  <div class="clear"></div>
  <div class="grid_3" id="nav">
    I'm aware these links don't work right now.
    <div><a href="" class="target">Index</a> </div>
    <div><a href="" class="target">Bio</a> </div>
    <div><a href="" class="target">Compositions</a> </div>
    <div><a href="" class="target">Links</a> </div>
  </div>
  <div class="grid_8">Welcome to the website of our talented mr david bird. What a baller.</div>
  <div class="clear"></div>
</div>
