<div class="container_12" id="content">
  <!-- HEADER/CANVAS -->
  <div class="grid_2">&nbsp;</div>
  <div class="grid_8"><center><canvas style="width:620px; height:220px;" data-processing-sources="processing/sine.java"></canvas></center></div>
  <div class="grid_2">&nbsp;</div>
  <div class="clear"></div>

  <!-- NAV -->
  <div class="grid_2">&nbsp;</div>
  <div class="grid_8">
    <center>
      <a href="" class="target">index</a>
      <a href="" class="target">bio</a>
      <a href="" class="target">compositions</a>
      <a href="" class="target">links</a>
    </center>
  </div>
  <div class="grid_2">&nbsp;</div>
  <div class="clear"></div>


  <!-- CONTENT -->
  <div class="grid_2">&nbsp;</div>
  <div class="grid_8">
    <p>david bird is a student in the <em>timara</em> program at oberlin conservatory. he is currently in his 3rd year; and enjoys music greatly. other projects he has been involved in include: an alicia keys cover band entitled "the blank keys," an improv sloth tragedy reinactment society (yet unnamed) and oEat, the oberlin college eating group.</p>
    <p>david bird is actively pursing a career in the miming arts in his free time.</p>
  </div>
  <div class="grid_2">&nbsp;</div>
  <div class="clear"></div>


</div>
