<div class="container_12">
  <div class="grid_3"><%= image_tag 'david_bird.png' %></div>
  <div class="grid_8"><canvas style="width:620px; height:220px; border: 1px solid black;" data-processing-sources="processing/sine.java"></canvas></div>
  <div class="clear"></div>
  <div class="grid_12" style="height:20px;">&nbsp;</div>
  <div class="clear"></div>
  <div class="grid_3">
    <p>LINK</p>
    <p>LINK</p>
    <p>LINK</p>
    <p>LINK</p>
    <p>LINK</p>
    <p>LINK</p>
  </div>
  <div class="grid_8">Welcome to the website of our talented mr david bird. What a baller.</div>
  <div class="clear"></div>
</div>
