<h1>Site#index</h1>
<script type="application/processing"> 
  int color = 0;
  double colorval = 0;

  class Pair {
    public double x;
    public double y;
    public Pair() {
      this.x = 0;
      this.y = 0;
    }
    public Pair(double x, double y) {
      this.x = x;
      this.y = y;
    }
  }

  class Node {
    public String dest;
  }

  class Path {
    //public Pair s,e;
    public Path(Pair p1, Pair p2) {
      e = p1;
      s = p2;
    }

    public Pair getIntermediatePoint(double dist) {
      return new Pair( s.x + dist*(e.x - s.x), s.y + dist*(e.y-s.y));
      //return null;
    }
  }

  //Pair[] dots = {new Pair(50,50), new Pair(100,20), new Pair(10,180)};
  ArrayList dots = new ArrayList();
  ArrayList paths = new ArrayList();

  void setup() {
    size(200, 200);
    dots.add(new Pair(50,50));
    dots.add(new Pair(90,170));
    dots.add(new Pair(100,40));

    paths.add(new Path(new Pair(100,100), new Pair(25,35) ));
    paths.add(new Path(new Pair(100,100), new Pair(125,75) ));

  }
  void calculate_color_val() {
    colorval = Math.sin(color/20.0)*127+128;
  }
  void draw() {
    calculate_color_val();
    background(colorval);

    for (int i = 0; i < paths.size(); i++ ) {
      Path d = (Path)paths[i];
      draw_circle(d.s.x,d.s.y);
      draw_circle(d.e.x,d.e.y);
    }
    for (int i = 0; i < paths.size(); i++ ) {
      Path d = (Path)paths[i];
      double dist = Math.sqrt(Math.pow(d.s.x - d.e.x, 2) + Math.pow(d.s.y - d.e.y, 2));
      int number_of_stops = (int)(dist/10.0);
      for (int j = 1; j < number_of_stops; j++ ) {
        double c_dist = (1.0*j)/number_of_stops;
        Pair p = d.getIntermediatePoint(c_dist);
        draw_dot(p.x,p.y);
      }
    }
  }

  void draw_dot(int x, int y) {
    noStroke();
    if ((255 - colorval) < 60 && (255 - colorval) > -60) {
      fill(255);
    }else {
      fill(255 - colorval);
    }
    ellipse(x,y,5,5);
  }
  void draw_circle(int x,int y) {
    noStroke();
    fill(200,100,100);
    ellipse(x,y,25,25); 
  }

  void keyPressed() {
    if (key == 'd') {
      color += 50;
    }
  }
  void mouseMoved(){
    color-=3;
  }
</script><canvas width="200" height="200"></canvas>
<h1>Goodbye!</h1>
