<div id="container">
  <div id="column">
    <div id="navigation">
      <div id="navbar">
        <%= image_tag 'davidbird.png' %> </br>
        <div class="navbutton" ><%= image_tag 'bio.png' %> </br></div>
        <div class="navbutton" ><%= image_tag 'work.png' %> </br></div>
        <div class="navbutton" ><%= image_tag 'contact.png' %> </br></div>
      </div>
    </div>
    <div id="content">
    </div>
    <div id="footer">
    </div>
  </div>
</div>
