<!DOCTYPE html>
<html>
  <head>
    <title>DavidBird</title>
    <%= stylesheet_link_tag :all %>
    <% stylesheet_link_tag 'all.css' %>
    <% javascript_include_tag :defaults %>
    <%= javascript_include_tag 'processing.js' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
